// main content color

$main-1st: #ffffff;
$main-2nd: #f1f1f1;
$main-dark: #070707;

// fonts color
$text-light: #ffffff;
$text-dark: #070707;
$text-grey: #828282;

// borders main color
$bdr-grey: #828282;

// links, buttons, checkbox and same

$dropMenu-bg: rgba(255, 255, 255, 0.5);
$goToTop-bg-hover: rgba(130, 130, 130, 0.2);
$dropMenu-icon: #828282;
$dropMenu-icon-action: #070707;
$burger-btn: #828282;
$burger-btn-action: #070707;
$link-btn-bg: #000000;
$link-light: #ffffff;
$link-grey: #828282;
$link-dark: #070707;
$link-hover-light: #ffffff;
$link-hover-grey: #828282;
$link-hover-dark: #070707;
$icon-hover-vk: #4b78a8;
$icon-hover-tg: #43b0e5;
$icon-hover-ins-col-1st: #771ebe;
$icon-hover-ins-col-2st: #dc8d3d;
$icon-hover-gh: #424242;

// shadow
$shdw: 0 0 20px -5px rgba(0, 0, 0, 0.5);
