/* comfortaa-300 */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: 
    url("~@/assets/fonts/comfortaa/comfortaa-300.woff2") format("woff2"), // IE6-IE8
    url("~@/assets/fonts/comfortaa/comfortaa-300.woff") // Super Modern Browsers
      format("woff"),
}
/* comfortaa-500 */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  src: 
    url("~@/assets/fonts/comfortaa/comfortaa-500.woff2") format("woff2"), // IE6-IE8
    url("~@/assets/fonts/comfortaa/comfortaa-500.woff") // Super Modern Browsers
      format("woff"),
}
/* comfortaa-600 */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: 
    url("~@/assets/fonts/comfortaa/comfortaa-600.woff2") format("woff2"), // IE6-IE8
    url("~@/assets/fonts/comfortaa/comfortaa-600.woff") // Super Modern Browsers
      format("woff"),
}
/* comfortaa-700 */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: 
    url("~@/assets/fonts/comfortaa/comfortaa-700.woff2") format("woff2"), // IE6-IE8
    url("~@/assets/fonts/comfortaa/comfortaa-700.woff") // Super Modern Browsers
      format("woff"),
}
/* comfortaa-regular */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: 
    url("~@/assets/fonts/comfortaa/comfortaa-regular.woff2") format("woff2"), // IE6-IE8
    url("~@/assets/fonts/comfortaa/comfortaa-regular.woff") // Super Modern Browsers
      format("woff"),
}

@mixin font($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  }
}
