.main-header {
  display: block;
  @include sm(padding-top, 30px);
}

.nav {
  display: block;
  width: 100%;
}

.nav-menu {
  width: 100%;
  @include size(12);
  @include sm-block() {
    display: block;
  }

  &__item {
    display: inline-block;
    width: calc(100% / 5 - 5px);
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  &__link {
    white-space: nowrap;
    font-size: calc(0.5em + 1vw);
    @include md-block() {
      font-size: calc(1em + 0.5vw);
    }
  }
} // end .nav-menu

.header-content {
  display: block;
  @include sm-block() {
    display: inline-block;
  }
} // end .header-content

.author {
  &__name {
    display: inline-block;
    min-width: em(90);
  }
  &__description {
    padding-top: 0;
    line-height: 2;
    @include font(pt(16), 300);
    @include sm-block() {
      display: inline-block;
      float: right;
      margin-left: 0;
    }
    @include md-block() {
      float: none;
      margin-left: 25%;
    }
  } // end .author__description
} // end .author

// fixed nav menu

.nav {
  position: relative;
  & .dropMenu-toggle {
    &__icon {
      position: absolute;
      left: 0;
      top: -50%;
    }
    &__arrow {
      margin-left: -14px;
      position: absolute;
      top: 50%;
      left: 25%;
    } // end .nav .dropMenu-toggle__arrow
  } // end .nav .dropMenu-toggle

  &.dropMenu-show {
    & .dropdown-nav-menu {
      display: none;
      @include sm-block() {
        display: inline-block;
      }
      &__item {
        @include col-ib();
        @include sm-block() {
          margin-left: em(5);
          margin-right: em(5);
        }
        @include md-block() {
          margin-left: em(20);
          margin-right: em(20);
        }
        @include lg-block() {
          margin-left: em(49);
          margin-right: em(49);
        }
        @include xl-block() {
          margin-left: em(60);
          margin-right: em(60);
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
          float: right;
        }
      }
      &__link {
        @include font(pt(18), 500);
      }
    } // end .nav.dropMenu-show .nav-menu

    & .dropMenu-toggle {
      &__arrow {
        margin-left: -14px;
        transform: rotate(180deg);
        fill: $dropMenu-icon-action;
      }
    } // end .nav.dropMenu-show .dropMenu-toggle
  } // end .nav.dropMenu-show
} // end .nav
