.ie-all .main-header {
  display: block;
  padding: em(65) 0 em(85);
  @include sm(padding-top, 30px);
}

.ie-all .nav {
  display: block;
  position: relative;
  width: 100%;
}

.ie-all .nav-menu {
  position: relative;
  list-style: none;
  display: none;
  @include col();
  @include sm-block() {
    display: inline-block;
  }
  margin: 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: 1px solid $bdr-grey;
  }

  &__item {
    display: inline-block;
    @include sm-block() {
      margin-left: em(7);
      margin-right: em(7);
    }
    @include md-block() {
      margin-left: em(20);
      margin-right: em(20);
    }
    @include lg-block() {
      margin-left: em(50);
      margin-right: em(50);
    }
    @include xl-block() {
      margin-left: em(75);
      margin-right: em(75);
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    padding: em(35) 0;
    text-decoration: none;
    @include font(pt(16), 800);
    @include md-block() {
      @include font(pt(18), 800);
    }
    color: $link-grey;
    &:hover,
    :active {
      color: $link-dark;
    }
  } // end .nav-menu__link
} // end .nav-menu

.ie-all .header-content {
  display: block;
  margin-top: em(40);
  @include sm-block() {
    display: inline-block;
  }
  @include col();
  @include size(12);
} // end .header-content

.ie-all .author {
  &__name {
    display: inline-block;
    min-width: em(90);
    font-family: "Gilroy-ExtraBold";
    @include font(pt(26), 800);
  }
  &__description {
    padding-top: 0;
    line-height: 2;
    @include font(pt(16), 300);
    @include sm-block() {
      display: inline-block;
      float: right;
      margin-left: 0;
    }
    @include md-block() {
      float: none;
      margin-left: 25%;
    }
  } // end .author__description
} // end .author

.ie-all .author-photo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: rem(450);
  margin-top: em(50);
  overflow: hidden;
  &__img {
    position: absolute;
    left: 0;
    min-width: rem(640);
    &:hover {
      transform: scale(1.2);
    }
  } // .author-photo__img
} // .author-photo

// fixed nav menu

.ie-all .nav {
  position: relative;
  & .dropMenu-toggle {
    display: block;
    position: fixed;
    z-index: 90;
    left: 50%;
    transform: translate(-50%);
    bottom: em(-10);
    width: em(50);
    height: em(50);
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &__icon {
      position: absolute;
      left: 0;
      top: -50%;
      width: 100%;
      height: 100%;
    }
    &__arrow {
      position: absolute;
      top: 50%;
      left: 25%;
      fill: $dropMenu-icon;
      &:hover {
        fill: $dropMenu-icon-action;
      }
    } // end .nav .dropMenu-toggle__arrow
  } // end .nav .dropMenu-toggle

  &.dropMenu-show {
    @extend .container;
    padding: 0 !important;
    position: fixed;
    z-index: 91;
    top: 0;
    transform: translateX(em(15));
    background-color: $dropMenu-bg;
    & .nav-menu {
      margin-bottom: em(30);
      animation: dropDown-animation ease 1s;
      @keyframes dropDown-animation {
        from {
          top: em(-110);
        }
        to {
          top: 0;
        }
      }
      &::after {
        content: "";
        width: 100%;
      }
      &__item {
        @include sm-block() {
          margin-left: em(5);
          margin-right: em(5);
        }
        @include md-block() {
          margin-left: em(20);
          margin-right: em(20);
        }
        @include lg-block() {
          margin-left: em(49);
          margin-right: em(49);
        }
        @include xl-block() {
          margin-left: em(73);
          margin-right: em(73);
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
          float: right;
        }
      }
      &__link {
        padding-top: em(10);
      }
    } // end .nav.dropMenu-show .nav-menu

    & .dropMenu-toggle {
      top: em(94.2) !important;
      @include md-block() {
        top: em(97.4) !important;
      }
      &__arrow {
        transform: rotate(180deg);
        fill: $dropMenu-icon-action;
      }
    } // end .nav.dropMenu-show .dropMenu-toggle
  } // end .nav.dropMenu-show
} // end .nav
