.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: em(80) em(15);
  font-family: "Gilroy-ExtraBold";
  @include col();
  @include sm(display, none);
  @include size-xs(4);
  @include size-md(4);
  margin: 0;
}

.nav-burger {
  position: relative;
  width: 0;
  height: 100%;
  list-style: none;
  animation: burger-menu-hide;
  animation-duration: 0.5s;
  animation-delay: 0s;
  @keyframes burger-menu-hide {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  &__item {
    width: 0;
    margin-top: em(5);
    animation: burger-menu-item-hide;
    animation-duration: 0.5s;
    animation-delay: 0s;
    @keyframes burger-menu-item-hide {
      from {
        width: 100%;
      }
      to {
        width: 0;
      }
    }
  }

  &__link {
    display: none;
    position: relative;
    text-decoration: none;
    @include font(pt(24), 800);
    line-height: rem(68);
    color: $link-grey;
    transition: $ease-5s;
    &:hover,
    :active {
      color: $link-dark;
    }
  } // end nav-dropDown__link
} // end nav-dropDown

.burger-container {
  @include sm(display, none);
  position: fixed;
  z-index: 10;
  right: $offset_xs_one_side;
  top: em(20);
  display: inline-block;
  width: rem(35);
  height: 100%;
  cursor: pointer;
  transform: rotate(0deg);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  .burger-icon {
    width: 35px;
    height: 20px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 1%;
    &__bar {
      width: 100%;
      height: em(4);
      position: relative;
      background-color: $burger-btn;
      transition: $ease-5s;
    }
    &__topBar {
      transform: translateY(0px) rotate(0deg);
      transition: $ease-2s;
    }
    &__cenBar {
      transform: translateY(6px) rotate(0deg);
    }
    &__botBar {
      transform: translateY(12px) rotate(0deg);
    }
    &:hover .burger-icon__bar {
      background-color: $burger-btn-action;
    }
  } // end burger__icon
  &.burger-close {
    & .burger-icon {
      &__bar {
        background-color: $burger-btn;
      }
      &__topBar {
        height: 0;
        transform: translateY(0px) rotate(0deg);
        transition: $ease-2s;
      }
      &__cenBar {
        transform: translateX(-2px) translateY(10px) rotate(45deg);
        width: 39px;
      }
      &__botBar {
        transform: translateX(-2px) translateY(6px) rotate(-45deg);
        width: 39px;
      }
    } // end burger-container .burger-icon
  } // end burger-container.burger-close
} // end burger-container

.burger-menu.burger-opened {
  animation: burger-menu-show;
  animation-duration: 0.5s;
  animation-delay: 0s;
  @keyframes burger-menu-show {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 150%;
  background-color: $main-1st;
  & .nav-burger {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    list-style: none;

    &__item {
      width: 100%;
      animation: burger-menu-item-show;
      animation-duration: 0.5s;
      animation-delay: 0s;
      @keyframes burger-menu-item-show {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
    }
    &__link {
      white-space: nowrap;
      display: block;
    }
  } // end .burger-menu.burger-opened .nav-burger
} // end .burger-menu.burger-opened
