.contacts {
  &__more {
    margin-bottom: em(35);
  }
  &__social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: rem(350);
    margin-top: em(35);
    margin-bottom: em(45);
  }

  & .social {
    &__link {
      display: inline-block;
    }

    &__icon {
      transition: $ease-5s;
      &--vk {
        &:hover,
        :active {
          fill: $icon-hover-vk;
        }
      }
      &--tg {
        &:hover,
        :active {
          fill: $icon-hover-tg;
        }
      }
      &--ins {
        &:hover,
        :active {
          fill: $icon-hover-ins-col-1st;
        }
      }
      &--gh {
        &:hover,
        :active {
          fill: $icon-hover-gh;
        }
      }
    } // end contacts .social__icon
  } // end contacts .social
} // end contacts

// styles for ie
.ie-all {
  @import "ie/contacts-ie9";
}
