.dropdown {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  .dropdown-nav-menu {
    display: none;
    @include sm-block() {
        display: flex;
        flex-basis: 100%;
        align-self: center;
      }
    @extend .container;
    background-color: $dropMenu-bg;
    list-style: none;
    z-index: 999;
    position: relative;
    @include col();
    @include size(12);
    justify-content: space-between;
    margin: 0;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      border-bottom: 1px solid $bdr-grey;
    }

    &__link {
      display: block;
      padding: em(35) 0;
      text-decoration: none;
      @include font(pt(16), 800);
      @include md-block() {
        @include font(pt(18), 800);
      }
      color: $link-grey;
      transition: $ease-5s;
      &:hover,
      :active {
        color: $link-dark;
      }
    } // end .nav-menu__link
} // end main dropdown menu style

    & .dropMenu-toggle {
        display: none;
        @include sm-block() {
            display: flex;
            align-self: end;
          }
        width: em(50);
        height: em(25);
        background-color: transparent;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

        &__icon {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all ease-in-out 1s;
          }
          &__arrow {
            width: 100%;
            fill: $dropMenu-icon;
            animation: $blink-5s2s-inft;
            @keyframes blink5s2sinft {
              0% {
                opacity: 1;
              }
              50% {
                opacity: 0.2;
              }
              100% {
                opacity: 1;
              }
            }
            &:hover {
              fill: $dropMenu-icon-action;
            }
          } // end .nav .dropMenu-toggle__arrow
    } // end .nav .dropMenu-toggle
}