.main-header {
  @include row-flex();
  padding: em(65) 0 em(85);
  @include sm(padding-top, 30px);
}

.nav {
  position: relative;
  @include col();
  @include size(12);
}

.nav-menu {
  position: relative;
  list-style: none;
  display: none;
  @include col();
  @include sm-block() {
    display: flex;
  }
  justify-content: space-between;
  margin: 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: 1px solid $bdr-grey;
  }

  &__link {
    display: block;
    padding: em(35) 0;
    text-decoration: none;
    @include font(pt(14), 500);
    @include md-block() {
      @include font(pt(18), 500);
    }
    color: $link-grey;
    transition: $ease-5s;
    &:hover,
    :active {
      color: $link-dark;
    }
  } // end .nav-menu__link
} // end .nav-menu

.header-content {
  display: flex;
  flex-direction: column;
  margin-top: em(40);
  @include sm-block() {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  @include col();
  @include size(12);
} // end .header-content

.author {
  &__name {
    max-width: rem(170);
    @include font(pt(22), 800);
  }
  &__description {
    padding-top: em(25);
    line-height: 1.5;
    @include font(pt(14), 300);
    @include sm-block() {
      margin-left: calc(100% / 6);
    }
  } // end .author__description
} // end .author

.author-photo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: rem(450);
  margin-top: em(50);
  overflow: hidden;
  &__img {
    position: absolute;
    left: 0;
    min-width: rem(640);
    transition: $ease-10s;
    &:hover {
      transform: scale(1.2);
    }
  } // .author-photo__img
} // .author-photo

// styles for ie
.ie-all {
  @import "ie/header-ie9";
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .author__description {
    margin-left: 0;
    @include md-block() {
      margin-left: calc(100% / 5);
    }
  }
  .nav-menu {
    &__item {
      margin-left: auto;
      margin-right: auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      @include font(pt(14), 500);
      @include md-block() {
        @include font(pt(18), 500);
      }
    }
  }
  .dropdown-nav-menu {
    &__item {
      margin-left: auto;
      margin-right: auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
