.skills {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sm-block() {
      flex-direction: row;
      @include col();
      @include size(12);
    }
    padding-top: em(35);
  }

  &__item {
    position: relative;
    width: 85%;
    @include col();
    @include size-sm(3);
    color: $text-grey;
  }
  &__description {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    min-height: 65%;
    padding: em(30) 0 em(40);
    background-color: $main-1st;
    box-shadow: $shdw;
    opacity: 0;
    line-height: 2;
    transition: $ease-10s;
    @include font(pt(16), 300);
    color: $text-dark;
    @include sm-block() {
      @include font(pt(8), 300);
    }
    @include md-block() {
      @include font(pt(10), 300);
    }
    @include lg-block() {
      @include font(pt(16), 300);
    }
    &:hover {
      opacity: 1;
    }
    & li h5 {
      font-weight: 800;
    }
  } // end .skills__description

  // circle bar
  &__round {
    position: relative;
    transition: $ease-10s;
    animation-duration: 10s;
    & canvas {
      outline: none !important;
      width: 100% !important;
      height: 100% !important;
      transition: $ease-10s;
      animation-duration: 10s;
    }
  }
  &__percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font(pt(42), 800);
    color: $text-dark;
    @include sm-block() {
      @include font(pt(24), 800);
    }
    @include md-block() {
      @include font(pt(34), 800);
    }
    @include lg-block() {
      @include font(pt(42), 800);
    }
  }
  &__more {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font(pt(16), 800);
    @include sm-block() {
      @include font(pt(10), 800);
    }
    @include lg-block() {
      @include font(pt(16), 800);
    }
  }
  &__name {
    display: block;
    padding-top: em(20);
    padding-bottom: em(60);
    text-align: center;
    @include font(pt(32), 800);
    @include sm-block() {
      @include font(pt(16), 800);
    }
    @include md-block() {
      @include font(pt(24), 800);
    }
    @include lg-block() {
      @include font(pt(32), 800);
    }
  }
} // end skills

// styles for ie
.ie-all {
  @import "ie/skills-ie9";
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .skills__wrap {
    @include sm-block() {
      flex-wrap: wrap;
    }
  }

  .skills__item {
    @include sm-block() {
      @include size(6);
    }
    @include lg-block() {
      @include size(3);
    }
  }
  .skills__round {
    display: block;
    width: 100%;
    max-width: 180px;
    height: 100vh !important;
    max-height: 180px;
    margin: 0 auto;
  }
}
