// main content color

$main-1st: #ffffff;
$main-2nd: #f1f1f1;
$main-dark: #070707;

// fonts color

// borders main color
$bdr-grey: #828282;

// links, buttons, checkbox and same

$burger-btn: #070707;
$link-btn-bg: #000000;
$link-light: #ffffff;
$link-grey: #828282;
$link-dark: #070707;
$link-hover-light: #ffffff;
$link-hover-dark: #070707;
$icon-hover-vk: #4b78a8;
$icon-hover-tg: #43b0e5;
$icon-hover-ins-col-1st: #771ebe;
$icon-hover-ins-col-2st: #dc8d3d;
$icon-hover-gh: #424242;