// main content color

$main-1st: #ffffff;
$main-2nd: #f1f1f1;
$main-dark: #070707;

// fonts color

// borders main color
$bdr-grey: #828282;

// links, buttons, checkbox and same

$burger-btn: #070707;
$link-light: #ffffff;
$link-grey: #828282;
$link-dark: #070707;
$link-hover-light: #ffffff;
$link-hover-dark: #070707;