// Global styles
.wrapper {
  @include container;
  @include xs-block(){
    padding-left: $fields;
    padding-right: $fields;
  };
  @include sm-block(){
    padding-left: $fields * 2;
    padding-right: $fields * 2;
  };
}

.section {

  &--headline {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-family: 'Gilroy-ExtraBold';
    @include font(pt(34), 800);
    text-align: center;
  }
  &--wrapper {
    padding: 75px 15px 85px;
    text-align: center;
    @include font(pt(16), 300);
    @include xs-block() {
      padding: 100px 15px 105px;
    }
  }
  &--grey {
    background-color: $main-2nd;
  }
}

.main-link-btn {
  box-sizing: border-box;
  display: block;
  height: em(42);
  padding: 12px;
  border-radius: 50px;
  background-color: $link-btn-bg;
  white-space: nowrap;
  line-height: 1.5;
}