.main-header {
  @include row-flex();
  padding: 65px 0 85px;
  @include sm(padding-top, 30px);
}

.nav {
  @include col();
  @include size(12);
}

.nav-menu {
  position: relative;
  list-style: none;
  display: none;
  @include col();
  @include sm(display, flex);
  justify-content: space-between;
  margin: 0;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: 1px solid $bdr-grey;
  }

  &__link {
    display: block;
    padding: 35px 0;
    text-decoration: none;
    @include font(pt(16), 800);
    @include md-block() {
      @include font(pt(18), 800);
    }
    color: $link-grey;
    &:hover, :active {
      color: $link-dark;
    }
  }


}

.header-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @include sm-block(){
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  };
  @include col();
  @include size(12);
}

.author {

  &__name {
    max-width: 150px;
    font-family: 'Gilroy-ExtraBold';
    @include font(pt(26),800);
  }
  &__description {
    padding-top: 25px;
    line-height: 2;
    @include font(pt(14),300);
    @include sm-block(){
      margin-left: calc(100% / 5);
    };
  }
  &__age {

  }
}

.author-photo {
  display: flex;
  width: 100%;
  height: 480px;
  margin-top: 50px;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1547093349-65cdba98369a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: $ease-10s;
  @include sm(height, calc(480px / 1vh));
}

// fixed nav

.nav {
  position: relative;
  & .dropMenu-toggle {
    display: none;
    @include sm-block() {
      display: block;
    }
    position: fixed;
    left: 50%; transform: translate(-50%);
    bottom: -10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &__icon {
      position: absolute;
      left: 0;
      top: -50%;
      width: 100%;
      height: 100%;
      background-color: $dropMenu-bg;
      border-radius: 50%;
    }
    &__arrow {
      position: absolute;
      top: 50%;
      left: calc(25%);
      fill: $dropMenu-icon;
      &:hover {
        fill: $dropMenu-icon-action;
      }
    }
  }

  &.dropMenu-show {
    @extend .container;
    padding: 0 !important;
    position: fixed;
    top: 0;
    transform: translateX(15px);
    background-color: $dropMenu-bg;
    & .nav-menu {
      animation: dropDown-animation ease 1s;
      @keyframes dropDown-animation {
        from { top: -110px; }
        to { top: 0; }
      }
      &::after {
        content: '';
        display: none;
      }
      &__link {

      }
    }


    & .dropMenu-toggle {
      top: 94.2px !important;
        @include md-block() {
          top: 97.4px !important;
        }
      &__arrow {
        transform: rotate(180deg);
        fill: $dropMenu-icon-action;
      }
    }
  }

}
