.main-header {
  @include row-flex();

  padding: 65px 0 85px;
}

.header-content {
  display: flex;
  flex-direction: column;
  @include sm(flex-direction, row);
  @include sm(justify-content, space-between);
  @include col();
  @include size-xs(8);
  @include size-sm(12);
  @include size-md(12);
}

.author {

  &__name {
    max-width: 150px;
    font-family: 'Gilroy-ExtraBold';
    @include font(pt(26),800);
  }
  &__description {
    padding-top: 25px;
    @include sm(align-self, flex-end);
    @include font(pt(14),300);
  }
  &__age {

  }
}

